<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogglyAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="LogglyAppender" type="log4net.loggly.LogglyAppender, log4net-loggly-core">
      <rootUrl value="http://logs-01.loggly.com/" />
      <inputKey value="change-key" />
      <tag value="log4net-test" />
      <logicalThreadContextKeys value="LogicalThread1,InnerLogicalThreadContext" />
      <globalContextKeys value="GlobalContextPropertySample" />
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC1}] - %message%newline" />
      </layout>
    </appender>
	</log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
